:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow-y: auto;
  overflow-x: hidden;
  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
}
html,body,#app{

  margin: 0;

  padding: 0;

  height: 100%;

}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root body {
  position: absolute;
  }
  .temApp {
    display: flex;
  
    .temSidebar {
      width: 20vw;
      background-color: #fff;
      position: fixed;
      top: 60px;
      left: 0;
      bottom: 0;
      overflow-y: auto;
      overflow-x: hidden;
      .menu {
        min-width: 20vw;
  
        // span {
        //   font-size: 18px;
        // }
      }
    }
  
    .temContent {
      flex: 1;
      position: fixed;
      margin: 20px 30px 0 15px;
      top: 60px;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      left:21vw;
      padding: 30px;
      background-color: #fff;
      background-image: linear-gradient(90deg,rgba(50,0,0,0.05) 3%,transparent 0),linear-gradient(0deg,rgba(50,0,0,0.05) 3%,transparent 0);
      background-position: 50%;
      background-size: 20px 20px;
      line-height: 30px;
    }
    .temContentTwo{
      left:1vw;
      margin: 0;
      right: 1vw;
    }
  }


